@model Practica1._1.Models.Diccionario

@{
    ViewBag.Title = "Diccionario";
}

<h2>Diccionario</h2>


<form action="/" method="post"></form>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.WordEnglish, htmlAttributes:
            new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.WordEnglish, new
            {
                htmlAttributes =
           new { @class = "form-control" }
            })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WordSpanish, htmlAttributes:
            new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.WordSpanish, new
            {
                htmlAttributes =
           new { @class = "form-control" }
            })
        </div>



    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="name" value="Guardar Palabra" class="btn btn-dark" />
    </div>
    <br />

    <div class="col-md-offset-2 col-md-10">
        <a href="https://localhost:44369/Archivos/SearchWord" class="btn btn-dark">Traducir Palabra</a>
    </div>
    <br />

    <!--Leer las palabras en la misma vista-->
    <div class="col-md-offset-2 col-md-10">
        <a href="https://localhost:44369/Archivos/ReadWord" class="btn btn-dark">Leer Palabras</a>
    </div>
    <br />
    <div>


        @if (ViewBag.Archivos != null)
        {
            <div class="col-sm-6">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Español</th>
                            <th>Ingles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Archivos)
                        {
                            <tr>

                                @foreach (string item2 in item.Split(','))
                                {
                                    <td>@item2</td>
                                }
                            </tr>

                        }
                    </tbody>

                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <a href="https://localhost:44369/Archivos/Diccionario" class="btn btn-dark">Ocultar Palabras</a>
            </div>

        }

    </div>


}




@using (Html.BeginForm("SearchWord", "Archivos", FormMethod.Post))
{

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Search, htmlAttributes:
            new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Search, new
            {
                htmlAttributes =
           new { @class = "form-control" }
            })
        </div>

        <div class="form-group">
            @Html.Label("Palabra ingresada:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.Translate, "English") Ingles
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.Translate, "Spanish") Español
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="name" value="Buscar Palabra" class="btn btn-dark" />
    </div>


}

@if (ViewBag.SearchWord != null)
{
    <h3>Palabras encontradas:</h3>
    <ul>
        @ViewBag.SearchWord --- @ViewBag.Search
    </ul>
}


